@use '../../../styles/mixins/breakpoints' as bp;

.container { 
  display: grid; 
  gap: 2rem; 
  padding: 0;
  margin-top: 8.5rem;
}

@media (max-width: 767px) {
  .container {
    margin-top: 15rem;
  }
}
 

@include bp.up(md) {
  
  .container {
    margin-top: 7.5rem;
  }
}

@include bp.up(lg) {
  
  .container {
    margin-top: 7.5rem;
  }
}

@include bp.up(xl) {
  
  .container {
    margin-top: 7.5rem;
  }
}


