@use "@/styles/tokens/typography" as type;

html {
  font-family: type.$font-sans;
  scrollbar-gutter: stable both-edges;
}

/* Color scheme hint to browsers */
:root {
  color-scheme: light dark;
}

